body {
    margin: 0;
    background-color:#355058;
}

#bg-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Keep it behind content */
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure it fills screen without distortion */
}
@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url('fonts/cursed_timer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#homescore{
    font-family:'Cursed Timer ULiL', monospace ;
    color:#5c2e36;
    font-size: 104px;
    text-align: center;
}

#guestscore{
    font-family:'Cursed Timer ULiL', monospace ;
    color:#5c2e36;
    font-size: 104px;
    text-align: center;
}

#home-div{
    padding-top: 30px;
    margin-top:50px;
    width: 500px;
    height: 500px;
    background-color: rgb(53, 170, 131);
    border-radius: 30px;
    opacity: 90%;
    
    
}


#guest-div{
    padding-top: 30px;
    margin-top:50px;
    width: 500px;
    height: 500px;
    background-color: rgb(53, 170, 131);
    border-radius: 30px;
    opacity: 90%;
    
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-family: Verdana;
    font-size: 80px;
    color:white;
    text-align: center;
}

.button{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

    

#hinc1{
    width: 100;
    height: 100;
    font-size: 60px;
    font-family:'Cursed Timer ULiL', monospace ;
    border: 10px solid #BCCBD8;
    border-color: #BCCBD8;
    border-radius: 12px;
    background-color: black;
    color:#BCCBD8;
}
#hinc2{
    width: 100;
    height: 100;
    font-size: 60px;
    margin-left: 30px;
    font-family:'Cursed Timer ULiL', monospace ;
    border: 10px solid #BCCBD8;
    border-color: #BCCBD8;
    border-radius: 12px;
    background-color: black;
    color:#BCCBD8;
}
#hinc3{
    width: 100;
    height: 100;
    font-size: 60px;
    margin-left: 30px;
    font-family:'Cursed Timer ULiL', monospace ;
    border: 10px solid #BCCBD8;
    border-color: #BCCBD8;
    border-radius: 12px;
    background-color: black;
    color:#BCCBD8;
}

#ginc1{
    width: 100;
    height: 100;
    font-size: 60px;
    font-family:'Cursed Timer ULiL', monospace ;
    margin-left: 30px;
    border: 10px solid #BCCBD8;
    border-color: #BCCBD8;
    border-radius: 12px;
    background-color: black;
    color:#BCCBD8;
}
#ginc2{
    width: 100;
    height: 100;
    font-size: 60px;
    margin-left: 30px;
    font-family:'Cursed Timer ULiL', monospace ;
    border: 10px solid #BCCBD8;
    border-color: #BCCBD8;
    border-radius: 12px;
    background-color: black;
    color:#BCCBD8;
}
#ginc3{
    width: 100;
    height: 100;
    font-size: 60px;
    margin-left: 30px;
    font-family:'Cursed Timer ULiL', monospace ;
    border: 10px solid #BCCBD8;
    border-color: #BCCBD8;
    border-radius: 12px;
    background-color: black;
    color:#BCCBD8;
}

