body {
    margin: 0;
    background-color:#355058;
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url('fonts/cursed_timer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#homescore{
    font-family:'Cursed Timer ULiL', monospace ;
    color:#F94F6D;
    font-size: 104px;
    text-align: center;
}

#guestscore{
    font-family:'Cursed Timer ULiL', monospace ;
    color:#F94F6D;
    font-size: 104px;
    text-align: center;
}

#home-div{
    padding-top: 60px;
    margin:50px;
    width: 500px;
    
}


#guest-div{
    padding-top: 60px;
    margin:50px;
    width: 500px;
    
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-family: Verdana;
    font-size: 80px;
    color:white;
    text-align: center;
}

.button{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

    

#hinc1{
    width: 100;
    height: 100;
    font-size: 60px;
    font-family:'Cursed Timer ULiL', monospace ;
    border: 10px solid #9AABD8;
    border-color: #9AABD8;
    border-radius: 12px;
    background-color: transparent;
    color:#9AABD8;
}
#hinc2{
    width: 100;
    height: 100;
    font-size: 60px;
    margin-left: 30px;
    font-family:'Cursed Timer ULiL', monospace ;
    border: 10px solid #9AABD8;
    border-color: #9AABD8;
    border-radius: 12px;
    background-color: transparent;
    color:#9AABD8;
}
#hinc3{
    width: 100;
    height: 100;
    font-size: 60px;
    margin-left: 30px;
    font-family:'Cursed Timer ULiL', monospace ;
    border: 10px solid #9AABD8;
    border-color: #9AABD8;
    border-radius: 12px;
    background-color: transparent;
    color:#9AABD8;
}

#ginc1{
    width: 100;
    height: 100;
    font-size: 60px;
    font-family:'Cursed Timer ULiL', monospace ;
    margin-left: 30px;
    border: 10px solid #9AABD8;
    border-color: #9AABD8;
    border-radius: 12px;
    background-color: transparent;
    color:#9AABD8;
}
#ginc2{
    width: 100;
    height: 100;
    font-size: 60px;
    margin-left: 30px;
    font-family:'Cursed Timer ULiL', monospace ;
    border: 10px solid #9AABD8;
    border-color: #9AABD8;
    border-radius: 12px;
    background-color: transparent;
    color:#9AABD8;
}
#ginc3{
    width: 100;
    height: 100;
    font-size: 60px;
    margin-left: 30px;
    font-family:'Cursed Timer ULiL', monospace ;
    border: 10px solid #9AABD8;
    border-color: #9AABD8;
    border-radius: 12px;
    background-color: transparent;
    color:#9AABD8;
}

